%div.outer-container

  %h1 List of Posts

  %table
    %tr
      %th Author
      %th Title
      %th Content
      %th
      %th
      %th

    - @posts.each do |post|
      %tr
        %td= post.name
        %td= post.title
        %td= post.content
        %td= link_to 'Show', post
        %td= link_to 'Edit', edit_post_path(post)
        %td= link_to 'Destroy', post, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br

%div.links
  = link_to 'New Post', new_post_path
  = link_to 'Back to Home', root_path
