%div.outer-container

  %p#notice= notice

  %p
    %b Name:
    = @post.name
  %p
    %b Title:
    = @post.title
  %p
    %b Content:
    = @post.content

%div.links
  = link_to 'Edit', edit_post_path(@post)
  \|
  = link_to 'Back', posts_path
